<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
</head>
<body>
    <h1>Register Form</h1>
    <% if (error) { %>
        <% error.split(",").forEach((el) => { %>
            <p style="color: red;"><%= el %></p>
        <% }) %>
    <% } %>
    <form method="post" action="/register">
        <div style="margin-bottom: 20px;">
            <p>Username</p>
            <input type="text" name="userName">
            <p>Email</p>
            <input type="email" name="email">
            <p>Password</p>
            <input type="password" name="password">
            <p>Role</p>
            <select name="role">
                <option selected disabled>--SELECT--</option>
                <option value="Admin">Admin</option>
                <option value="Visitor">Visitor</option>
            </select>
            <p>Your Name</p>
            <input type="text" name="fullName">
            <p>Gender</p>
            <select name="gender">
                <option selected disabled>--SELECT--</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <p>Profile Picture</p>
            <input type="text" name="profilePicture">
        </div>
        <button type="submit">Save</button><br><br>
        <a href="/login">Already have an account?</a>
    </form>
</body>
</html>